body{
    font-family: "Arial";
}

.beat-pad-container{
  display: grid;
  grid-template-rows: repeat(3, 1fr) ;
  background-color: black;
  padding: 20px;
  width: 95%;
  border-radius: 20px;
}
.instrument-container{
    display: grid;
    grid-template-columns: 32% 15% 50%;
    background-color: grey;
    padding: 0px;
    border-radius: 0px;

}
.sequencer-div{
    width: 100%;
    margin: 0px;

}
.information-div {
    color: white;
    margin: 10px;

}
.track{
    color:white;
}

.row {
    margin: 5.5px;
}

.key-not-pressed{
    float: left;
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background: gray;
}

.key-pressed{
    float: left;
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background: orange;
}
.sequence-input{
    width: 60px;
    height: 60px;
    padding: 20px;
}


.sequence-input.active{
    color: blue;
    background-color: orange;
}

.sequence-input.active.clicked{
    background-color: orangered;
}

.sequence-input.inert.clicked{
    background-color: darkgray;
}
