  
.main-div {
    font-family: "Arial Narrow";
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    /* overflow: auto; */
    max-width: 100%;
    max-height: 50%;
    height: calc(100vh - 16px);
}

.beat-pad-container{
  display: grid;
  grid-template-rows: repeat(3, 2fr) 5%;
  background-color: black;
  padding: 1%;
  resize: none;
  border-radius: 20px;
}
.instrument-container{
    display: grid;
    resize: none;
    grid-template-columns: 30% 70%;
    background-color: grey;
    width: 98vw;
    height: 60vh;
    padding-bottom: 0px;
    border-radius: 20px;
    position: relative;
    box-shadow: 20px 20px black;


}
.sequencer-div{
    resize: none;
    width: 100%;
    margin: 1vh;

}
.information-div {
    display: grid;
    grid-template-columns: repeat(4,20%);
    color: white;
    padding: 30px;
    margin: 10px;

}
.track{
    color:white;
}
select{
    margin: 5px;
}


.row {
    margin: 5.5px;
}

.key-not-pressed{
    box-sizing: border-box;
    border: 10px solid red;
    float: left;
    margin: 1%;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    background: gray;
}
.key-not-pressed:hover{
    background: darkgray;
}

.key-pressed{
    box-sizing: border-box;
    border: 10px solid red;
    float: left;
    margin: 1%;
    width: 30%;
    height: 100%;
    border-radius: 1%;
    background: rgb(246,245,239);
    background: radial-gradient(circle, rgba(246,245,239,1) 21%, rgba(210,199,114,1) 82%, rgba(255,209,0,1) 100%);
}
button{
    overflow: ellipsis;
}
.sequencer-container{
    display: grid;
    margin: 0px;
    width: 100%;


}
.sequence-input:hover{
    opacity: 0.5;

}
.sequence-input{
    overflow: hidden;
    float: left;
    width: 3.8vw;
    height: 6.5vh;
    background-color: white;
    border-radius: 10px;
    margin: .3vh;
}


.sequence-input.active{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 206, 217);
    
}


.errors {
    background: #c51244 !important;
    padding: 5px;
    position: relative; 
    display: inline-block !important;
  }

.hidden {
    display: none;
}
.sequence-input.active.clicked{
    background-color: rgb(248, 110, 110);
    box-shadow: -2px -2px black;
}

.sequence-input.inert.clicked{
    background-color: rgb(248, 143, 110);
    box-shadow: -2px -2px black;
}